footer#colophon {
	text-align: center;
	font-size: $font__size-small;
	font-family: $museo;
	color: $black;
	
	ul {
		padding: 1em 2%;
		margin: 0;
		list-style: none;
		
		li {
			display: inline-block;
			margin-right: .25em;
		}
	}
	
	.site-info ul {
		
		margin: 0 5%;
		border-top: 1px solid $gray02;
		
		a,
		a:link {
			color: $black;
			padding-bottom: 0;
		}
		
		li:not(:last-child):after {
			margin-left: .5em;
			content: '-';
		}
	}
	
	.site-credits ul {
		color: $purple;
		a,
		a:link {
			border-bottom: 1px solid $purple;
			padding-bottom: 0;
		}
		
		li:not(:last-child):after {
			margin-left: .5em;
			content: '|';
		}
	}
	
	.widget {
		margin: 0;
	}
}

