header#masthead {
    position: relative;
	min-height: 176px;
	@media screen and (max-width: $size__screen-small) {
		transition: all 0.5s ease;
		min-height: 122px;
//		max-height: 122px;
	}
}


header#masthead {
	
	
	.site-branding {
		@media screen and (min-width: $size__screen-small + 1) { 
			min-height: 216px;
		}
	}

	.site-title {
		
		margin-top: 0;
		margin-bottom: 0;
		
		@media screen and (max-width: $size__screen-small) {
			transition: all 0.5s ease;
			padding-right: 0;

			img {
				width: 100%;
				height: auto;
			}

		}

		a,
		a:link,
		a:hover {
			background-image: none;
		}
	}

	.site-description {
		margin-top: 0;
		text-align: right;
		padding-right: 240px;

		@media screen and (max-width: $size__screen-small) {
			transition: all 0.5s ease;
			padding-right: 104px;
			font-size: .9rem;
			white-space: nowrap;
		}
	}

	.site-contact {
		@media screen and (max-width: $size__screen-small) { 
			padding-left: 0;
		}
	}

	.vcard {

		margin-right: 210px;
		text-align: right;

		font-family: $museo;
		font-weight: normal;

		.site-owner {
			margin-bottom: 0;
			font-family: $museo;
			font-weight: normal;
			
			.fn,
			.honorific-suffix {
				color: $black;
			}
			
			.fn:after {
				content: ', ';
			}
		}
		
		.given-name,
		.family-name {
			display: none;
		}
		.title, 
		.email {
			display: block;
		}
		
		.title {
			color: $purple;
		}
		
		.email {
			font-size: .75rem;
			a {
				color: $black;
			}
		}

		@media screen and (max-width: $size__screen-small) { 
			transition: all 0.5s ease;
			margin-right: 104px;

			h3 {
				margin-top: 0;
//				font-family: $museo;
//				font-weight: normal;
				font-size: .8rem;
//				color: $black;
			}

			.title {
				font-size: .6rem;
				color: $purple;
				white-space: nowrap;
			}

			.email {
				display: none;
			}
		}

		.site-owner-photo {
			position: absolute;
			top: 0;
			right: 50px;
			min-width: 98px;
			@include drop-shadow-background;

			@media screen and (max-width: $size__screen-small) {
				transition: all 0.5s ease;
				right: 10px;
				width: 98px;
			}
		}

	}
	
	
	
}
