/* General
----------------------------------------------- */

#page {
    width: $size__site-main;
    max-width: $size__site-main-max;
    margin-left: auto;
    margin-right: auto;
}


/* Colors
----------------------------------------------- */

body {
    //background-color: $color__background-body;
}

#page {
    background-color: $color__background-page;
}

header#masthead {
    .site-description {
        background-color: $yellow-primary;
    }
    .site-title {}
    .site-contact {}
}

nav#site-navigation {
	background-color: $color__gradient-start;
}

#content {
	@include linear-gradient(top, bottom, $color__gradient-start, $white, 0%, 20%);
    padding-left: 3%;
    padding-right: 3%;
}

.site-main {}

#primary,
#secondary {}

#primary {}

#secondary {}

footer#colophon {
	background-color: $color__background-body;
	
    .site-info {
		background-color: $color__background-page
	}
    .site-credits {}
}


/* Responsive
----------------------------------------------- */

@media (max-width: $size__screen-small) { 
	
}