.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	
	.widget-title {
		font-size: 1.5rem;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget_testimonials_widget {
    padding: 2% 5%;
	
	.widget-title,
	.single-testimonial {
		padding-right: 5%;
		padding-left: 5%;
	}
}

.testimonial-title {
    display: none;
}

// Social
aside.social-links {
	
	margin-top: 1em;
	@include border-bottom;
	padding-bottom: .7em;
	
	.textwidget {
		display: table;
		height: 40px;
	}
	.widget-title {
		display: table-cell;
		vertical-align: middle;
		margin: 0;
		padding: 0 .5em 0 0;
		white-space: nowrap;
	}
	ul.social-links {
		display: table-cell;
		vertical-align: middle;
		padding-left: 0;
		li {
			display: table-cell;
			vertical-align: middle;

			img {
				
				width: 32px;
				height: 32px;
			}
		}

	}

}

// Testimonials
.type-testimonial {
	@include linear-gradient(top, bottom, $yellow-secondary, $white, 0%, 70%);
	@include border-bottom;
	padding-bottom: 1.2em;
	font-family: 'Museo';
	
	.widget-title {}
	.single-testimonial {}
	
	cite {
        
        color: $purple;
		margin-left: 30%;
		font-style: normal;
		
		&.testimonial-client-name {
			display: block;
			font-size: 13pt;
			
			&:before {
				content: '~';
			}
		}
		&.testimonial-client-title{
			display: block;
			//margin-left: 6em;
			font-size: 10pt;
		}
        
    }
}

// Quotes
.type-quote {
    background: $yellow-primary;
	margin-bottom: 3.2em;
	
    @include speech-bubble;
    
    text-align: center;
    
    blockquote {
        font-family: 'YouWontBringMeDown';
		font-size: 24px;
		font-weight: bold;
        color: $purple;
        
        p {
            margin-top: .25em;
            margin-bottom: 0;
        }
        
        p:before {
            content: open-quote;
        }
        p:after {
            content: close-quote;
        }

    }
    
    .meta {
        line-height: 1;
    }
    
    cite {
        font-family: 'Museo';
        font-style: normal;
//        font-size: $font__base-size;
		font-size: 12px;
        color: $color__text;
        &:before {
            content: '~';
        }
    }
}


// Blog Posts by Category Widget

.widget_smp_widget {

	.widget-title {
		margin-bottom: .25em;
	}
	.category-name {
		margin: .25em 0;
	}
	.post-title {
		margin: .25em 0;
		font-family: $museo;
		font-weight: normal;
	}

	.category-item:not(:first-child) {
		margin-top: 2em;
	}

}

.widget_archive {
	@include border-top;
}

.widget_search {
	
	.widget-title,
	.search-form {
		display: inline-block;
	}
	
	.widget-title {
		margin: 0 .5em 0 0;
	}
	
	.search-form {}
	
	input {
		background-color: $yellow-secondary;
	}
	
}

