$yellow-primary: #fdf430;
$yellow-secondary: #fffbbc;
$purple: #9552a1;
$blue: #21759b;
$red: #600;

$black: #010101;
$white: #fff;

$gray: $black;
$gray01: lighten($gray, 90%);
$gray02: lighten($gray, 80%);
$gray03: lighten($gray, 70%);
$gray04: lighten($gray, 60%);
$gray05: #ccc;
$gray06: lighten($gray, 40%);
$gray07: lighten($gray, 30%);
$gray08: lighten($gray, 20%);
$gray09: lighten($gray, 10%);

$color__gradient-start: #f2f2f2;
$color__gradient-background: #444;

$color__background-body: $yellow-secondary;
$color__background-page: $white;
$color__background-screen: $gray01;
$color__background-hr: $gray05;
$color__background-button: $yellow-primary;
$color__background-pre: $gray01;
$color__background-ins: $yellow-secondary;

$color__text: $black;
$color__text-screen: $blue;
$color__text-input: $gray07;
$color__text-input-focus: $black;
$color__link: $purple;
$color__link-visited: $purple;
$color__link-hover: darken($purple, 10%);
$color__text-main: $gray08;

$color__border-button: $gray02 $gray02 $gray04;
$color__border-button-hover: $gray02 $gray04 $gray03;
$color__border-button-focus: $gray03 $gray04 $gray04;
$color__border-input: $gray02;
$color__border-abbr: $gray06;