$size__site-main: 100%;
$size__site-main-max: 1080px;
$size__site-sidebar: 25%;

$size__screen-xsmall: 321px;
$size__screen-small: 680px;
$size__screen-medium: 769px;
$size__screen-large: 1080px;
$size__screen-xlarge: 1200px;

