$museo: 'Museo', sans-serif;
$gotham: 'Gotham', sans-serif;
$kg: 'YouWontBringMeDown', script;
$dashicons: 'dashicons';
$sans-serif: Trebuchet MS, Arial, Helvetica, sans-serif;
$script: $kg;

$font__main: $gotham;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__base-size: 14px;

$font__headers: $kg;
$font__links: $museo;
$font__nav: $museo;

$font__main-weight: 400;

$h1-size: 1.5rem;
$h2-size: 1.25rem;
$h3-size: 1.25rem;
$h4-size: 1;
$font__size-small: .75rem;


// SPACING
$space-triple: 72px; 
$space-double: 48px;
$space-32: 30px; 
$space: 24px; // equal to body line-height
$space-34: 18px; 
$space-half: 12px; 
$space-third: 8px; 
$space-fourth: 6px; 

%icon-font {
	
	&:before {
		font-family: $dashicons;
		color: $gray04;
		font-size: 1.25em;
		vertical-align: -20%;
		margin-right: .25em;
	}
	
}