a {
	color: $color__link;
    text-decoration: none;
    margin-bottom: 2px;
	padding-bottom: 5px;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
        // border-bottom: $yellow-primary solid 2px;
		@extend %current;
		font-weight: normal !important;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}