%current {
	color: $color__link;
	font-weight: normal;
	border-bottom: $yellow-primary solid 2px;
	margin-bottom: 0;
}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
    font-family: $font__nav;
    font-weight: 300;
	;

	ul {
		list-style: none;
		margin: 0;
        text-align: center;
		
		margin-right: 5%;
		margin-left: 5%;
		border-bottom: $white solid 2px;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
//		float: left;
        display: inline-block;
		position: relative;
        text-align: center;
        padding: 5px 20px;

		&:hover > a {}
        
        li {
            //padding: 5px 0;
            text-align: left;
        }
	}
	a {
		display: block;
		text-decoration: none;
        color: $black;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		@extend %current;
	}
}

.single-event .workshops-events a {
	@extend %current;
}

/* Small menu. */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}