.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.single .entry-title,
.archive .entry-title{
    font-family: $font__links;
	font-size: $h2-size;
    font-weight: 300;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-content {
	
	
	margin-top: 0;
	
	h3 {
		clear: none;
	}
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li { 
			padding-left: 12px; 
			text-indent: -12px;

			&:before {
				content: "\2022 ";
				padding-right: 5px;
				color: $purple; /* or whatever color you prefer */
			}
		}
	}
	
	p a,
	p a:link {
		font-weight: bold;
		border-bottom: 1px solid $purple;
		
		&:hover,
		&:focus {
			font-weight: bold;
		}
	}
	
	
}
