.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.single .entry-title,
.archive .entry-title{
    font-family: $font__links;
	font-size: $h2-size;
    font-weight: 300;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
