.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.single .entry-title,
.archive .entry-title {
    font-family: $font__links;
	font-size: $h2-size;
    font-weight: 300;
}

//html body.single.single-post.postid-103.single-format-standard.logged-in.admin-bar.i-love-to-run.page-i-love-to-run.category-being-active.customize-support div#page.hfeed.site div#content.site-content div#primary.content-area main#main.site-main article#post-103.post-103.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-being-active header.entry-header h1.entry-title

.entry-title,
.page-title {
	margin: 1em 0 0 0;
}

.entry-meta {
	display: inline;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.25em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-content {
		
	h3 {
		clear: none;
	}
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li { 
			padding-left: 12px; 
			text-indent: -12px;

			&:before {
				content: "\2022 ";
				padding-right: 5px;
				color: $purple; /* or whatever color you prefer */
			}
		}
	}
	
	p:first-child {
		margin-top: 0;
	}
	
	p a,
	p a:link {
		font-weight: bold;
		border-bottom: 1px solid $purple;
		
		&:hover,
		&:focus {
			font-weight: bold;
		}
	}
	
}

.cat-links {
	
	.label {
		text-transform: uppercase;
	}
	a {
		text-decoration: underline;
	}

}

.comments-link {
	display: block;
	margin-top: 1em;
	
	a:before {
		
		content: "\f101";
	}
	
}

.comment-reply-title {
	font-size: 1.5rem;
}